<div class="card mb-4">
  <div class="card-body" [ngClass]="
    {
      'bg-dark': isAngular(),
      'text-white': isAngular()
    }">

    <img [src]="book.firstThumbnailUrl" class="img-thumbnail float-right">

    <div class="card-title">
      <h2>
        {{ book.title }}
        <span class="badge badge-secondary">
          <ng-container *ngFor="let i of stars">
            ⭐️
          </ng-container>
        </span>
      </h2>
    </div>

    <p>
      {{ book.description }}
    </p>

    <!-- worst practise -- mutating objects that are not supposed to mutate -->

    <button class="btn btn-primary mr-2"
      (click)="doRateDown()">-1</button>

    <button class="btn btn-primary"
      (click)="doRateUp()">+1</button>
  </div>
</div>
